*,::before,::after{
    margin:0px;
    padding:0px;
    box-sizing:border-box
}

body{
    background:#f2f2f2;
}

html{
    scroll-behavior: smooth;
}

#accueil,#programmes, #qui-nous-sommes, #contact{
    height:720px;
    border-bottom:2px dashed seagreen;
}

#programmes{
    height:750px;
    border-bottom:2px dashed seagreen;
}

#accueil{
    background: url('images/accueil.jpg') no-repeat center;
    width:100%;
}

nav{
    background:#222;
    position:fixed;
    height:65px;
    width:100%;
    z-index:50;
}

.item{
    text-align: center;
    font-family: "Ruda", sans-serif;
    font-size:25px;
    display:none;
}

.item-nav{
    margin:65px 0px 45px;
}

.active{
    display:block;
}

.menu-burger{
    color:#f1f1f1;
    position:absolute;
    top:10px;
    right:10px;
    font-size:40px;
    cursor:pointer;
}

nav .item{
    background:#222;
}

img{
    width:100px;
}

.titre-programme, .titre-qui-nous-sommes, .titre-contact{
    font-family: "Ruda", sans-serif;
    filter:drop-shadow(1px 0px 1px #333);
    text-align: center;
    font-size:5vw;
    margin:20px 0px;
}

.content-titre{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:500px;
}

.content-titre .titre{
    font-family: "Ruda", sans-serif;
    font-size:45px;
    font-weight: 900;
}

.titre-evenement{
    font-family: "Ruda", sans-serif;
    font-size:55px;
    padding:30px 0px;
    font-weight: 900;
    text-align: center;
}

.content-titre .sous-titre{
    font-family: "Ruda", sans-serif;
    margin-top:20px;
    font-size:35px;
    font-weight: bold;
}

.content-icon{
    display:block;
    margin: 20px auto;
    background:#4cba4d;
    padding:15px;
    font-size:35px;
    border-radius:50%;
    box-shadow: 0 0 0 0 #4cba4d;
    animation: pulse 1.5s infinite;
}

.inscription{
    width:250px;
    padding:20px;
    display:block;
    margin: 20px auto 0px;
    background: #4cba4d;
    font-size:18px;
    font-family: "Ruda", sans-serif;
    border:none;
    border-radius:10px;
}

.inscription a{
    text-decoration: none;
    color: #f1f1f1;
}

@keyframes pulse{
    100% {
        box-shadow: 0 0 0 1rem rgb(255 255 255 / 1%);
    }
}

.fa-leanpub,.fa-bars,.fa-clipboard-list{
    color:#c0ea7e;
}

.content-programmes{
    display: flex;
    flex-wrap: wrap;
    font-family: "AbeeZee", sans-serif;
    justify-content: center;
    gap:20px;
}

.item-nav a {
    text-decoration:none;
    color:#f1f1f1;
}

.texte-programmes{
    width:550px;
    text-align: justify;
    padding:10px;
}

.content-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    padding:10px 5px;
}

.content-img img{
    width:100px; 
}

.item-nav-registration{
    background: #019444;
    height:50px;
    font-size:15px;
    line-height:50px;
    display:block;
    margin-top:5px;
    padding:0px 10px;
    border-radius: 10px;
    display:none;
}

.item-nav-registration a{
    color:#f1f1f1;
    text-decoration: none;
}

.content-img img:hover{
    transform: scale(1.5);
    border: 5px solid seagreen;
}

.content-img img::nth-child(1):hover{
    transform: translateX(10px);
}

@media screen and (min-width:768px){

    .content-titre .titre{
        font-family: "Ruda", sans-serif;
        font-size:75px;
        font-weight: 900;
        margin-top:150px;
    }

    #programmes{
        height:620px;
        border-bottom:2px dashed seagreen;
    }

    .content-img img{
        width:200px;
    }

    input, textarea{
        display:block;
        margin:10px auto;
        border:1px solid #222;
        padding:10px;
        border-radius: 5px;
        resize: none;
        min-width:650px;
        width:500px;
        max-width:580px;
    }
    
    textarea{
        height:100px;
    }

    #qui-nous-sommes, #contact {
        height: 520px;
        border-bottom: 2px dashed seagreen;
    }
}

@media screen and (max-width:395px){
    #programmes{
        height:750px;
        border-bottom:2px dashed seagreen;
    }
    #qui-nous-sommes{
       height:100%;
    }
}

@media screen and (max-width:428px){
    #programmes{
        height:590px;
        border-bottom:2px dashed #019444;
    }
    #qui-nous-sommes{
       height:100%;
    }
}

@media screen and (max-width:360px){
    #programmes{
        height:620px;
        border-bottom:2px dashed #019444;
    }
}

@media screen and (max-width:320px){
    #programmes{
        height:730px;
        border-bottom:2px dashed #019444;
    }
}

.content-equipe{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content:center;
    margin-bottom:20px;
}

.img-teacher{
    border-radius: 5px 5px 0px 0px;
    height:90px;
    width:150px;
}

.people{
    border-radius: 5px;
    width:150px;
    height:180px;
    background:#019444;
    color:#f1f1f1;
    font-size:10px;
    text-align: center;
    font-family: "Ruda",sans-serif;
}

.prof-citation{
    margin-top:9px;
    font-style: italic;
}

#contact{
    height:320px;
    border-bottom:2px dashed #019444;
}

input, textarea{
    display:block;
    margin:10px auto;
    border:1px solid #222;
    padding:10px;
    border-radius: 5px;
    resize: none;
    min-width:350;
    width:300px;
    max-width:580px;
}

textarea{
    height:100px;
}

input[type="button"]{
    background:#019444;
    border:none;
    color:#f1f1f1;
    font-family: "Ruda", sans-serif;
    font-size:16px;
}

input[type="button"]:hover{
    background:rgb(23, 95, 54);
}

footer{
    background:#222;
    color:#c0ea7e;
    padding:10px;
    font-family: "Ruda", sans-serif;
    position:absolute;
    width:100%;
}

@media screen and (min-width:1280px){

    .item{
        display:flex;
        list-style: none;
        font-family: "Ruda", sans-serif;
        gap:20px;
        justify-content: center;
        line-height: 65px;
        font-size:25px;
    }

    .menu-burger{
        display:none;
    }

    #accueil{
        background: url('images/accueil.jpg') no-repeat;
        width:100%;
        background-size: cover;
    }

    .item-nav{
        margin:0px;
    }

    .texte-programmes{
        width:740px;
        text-align: justify;
        padding:10px;
    }

    .content-icon{
        display:block;
        margin: 120px auto 0px;
        background:#4cba4d;
        padding:45px;
        font-size:60px;
        border-radius:50%;
        box-shadow: 0 0 0 0 #4cba4d;
        animation: pulse 1.5s infinite;
    }

    .inscription{
        display:none;
    }

    .item-nav-registration{
        display:block;
        position:absolute;
        right:10px;
    }

    #programmes{
        height:720px;
        border-bottom:2px dashed #019444;
    }

    .content-titre{
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height:650px;
    }

    .content-titre .titre{
        font-family: "Ruda", sans-serif;
        font-size:85px;
        font-weight: 900;
        margin-top:150px;
    }
    
    .content-titre .sous-titre{
        font-family: "Ruda", sans-serif;
        margin-top:50px;
        font-size:45px;
        font-weight: bold;
    }

    .content-img img {
        width: 280px;
        height:200px
    }

    .content-img img:hover {
        transform: scale(1.1);
    }

    .img-teacher{
        border-radius: 5px 5px 0px 0px;
        height:180px;
        width:180px;
    }
    
    .people{
        border-radius: 5px;
        width:180px;
        height:265px;
        background:#019444;
        color:#f1f1f1;
        font-size:10px;
        text-align: center;
        font-family: "Ruda",sans-serif;
    }
    
    .prof-citation{
        margin-top:9px;
        font-style: italic;
    }

    #contact{
        height:420px;
        border-bottom:2px dashed #019444;
    }

    input, textarea{
        display:block;
        margin:10px auto;
        border:1px solid #222;
        padding:10px;
        border-radius: 5px;
        resize: none;
        min-width:350;
        width:850px;
        max-width:880px;
    }
    
    textarea{
        height:150px;
    }

    input[type="button"]{
        background:#019444;
        border:none;
        color:#f1f1f1;
        font-family: "Ruda", sans-serif;
        font-size:16px;
        width:200px;
    }
}